/* GOOGLE FOONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* VARIAVEIS CSS */
:root{
    --header-altura: 3.5rem;

    /* CORES */
    --cor-primaria: #D6000D;
    --cor-texto: hsl(38, 8%, 8%);
    --cor-navmobile: #fff;

    /* FONTE E TIPOGRAFIA */
    --body-fonte: 'Roboto', sans-serif;
    --fonte-grande: 2.375rem;
    --fonte-normal: .938rem;
    --fonte-pequena: .75rem;
}

/* TIPOGRAFIA RESPONSIVA */
/* @media screen and (min-width: 1024px) {
    :root{
    --fonte-grande: 5rem;
    --fonte-normal: 1rem;
    --fonte-pequena: .813rem;
    }
} */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: var(--body-fonte);
    font-size: var(--fonte-normal);
    font-weight: 500;
    color: var(--cor-texto);
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    max-width: 100%;
    height: auto;
}

/* CLASSES REUTILIZAVEIS */
.container{
    max-width: 1024px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
}

.main{
    overflow: hidden; /* PARA AS ANIMAÇÕES DO SCROLLREVEAL*/
}

/* HEADER E NAVBAR */
.header{
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav{
    height: var(--header-altura);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo, .nav__toggle{
    color: var(--cor-texto);
    display: inline-flex;
}

.nav__logo{
    font-weight: 700;
    font-size: var(--fonte-grande);
    font-style: italic;
    color: var(--cor-primaria);
}

#nav__ponto{
    color: #000;
}

.nav__toggle{
    font-size: 1.25rem;
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .nav__menu{
        position: fixed;
        background-color: var(--cor-primaria);
        left: 0;
        top: -100%;
        width: 100%;
        padding: 5rem 0 4rem;
        border-radius: 0 0 1.5rem 1.5rem;
        box-shadow: 0 2px 4px hsla(38, 4%, 15%, .15);
        transition: .4s;
        z-index: 10;
    }
}

.nav__list{
    text-align: center;
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}

.nav__link{
    color: var(--cor-navmobile);
}

.nav__close{
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
    color: var(--cor-navmobile);
    cursor: pointer;
}

/* MOSTRAR MENU */
.show-menu{
    top: 0;
}

/* HOME */
.home{
    padding: 1rem 0 1rem;
    height: 95vh;
    display: grid;
    margin-bottom: 70px;
}

.home__container{
    display: grid;
    align-items: center;
    row-gap: 1.5rem;
}

.home__data{
    text-align: center;
}

.home__subtitle{
    display: block;
    font-weight: bold;
}

.home__title{
    font-size: var(--fonte-grande);
    color: var(--cor-primaria);
    margin: .75rem 0;
}

.home__button{
    margin-top: 1rem;
    display: inline-block;
    background-color: var(--cor-primaria);
    color: #fff;
    padding: .80rem 4rem;
    border-radius: 3rem;
    transition: .4s;
}

.home__button:hover{
    box-shadow: 0 4px 12px hsla(38, 69%, 8%, .2);
}

.home__img img{
    width: 300px;
}

.home__img{
    justify-self: center;
}

/* SOBRE */
.about__home{
    padding: 1rem 0 1rem;
    display: grid;
    margin-bottom: 30px;
}

.about__img img{
    width: 200px;
}

.about__img{
    justify-self: center;
}

.about__list{
    justify-self: center;
    line-height: 3rem;
}

.about__list p{
    font-size: 1.2rem;
}

.about__list p i{
    color: var(--cor-primaria);
}

.about__contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: .9rem;
    margin-bottom: 80px;
}

.about__call{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}

.about__contact p{
    font-weight: bold;
    font-size: 1.1rem;
}

.about__contact input{
    background-color: lightgrey;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}

.about__button{
    display: inline-block;
    background-color: var(--cor-primaria);
    color: #fff;
    padding: .80rem 4rem;
    border-radius: 3rem;
    transition: .4s;
}

.about__users{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

.about__user1{
    display: flex;
    background-color: lightgray;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    width: 350px;
    height: 150px;
}

.about__user1 img{
    width: 400px;
    padding-right: 15px;
}

.about__text1{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.about__user2{
    background-color: lightgray;
    display: flex;
    margin: 15px;
    padding: 15px;
    border-radius: 15px;
    width: 350px;
    height: 150px;
}

.about__user2 img{
    width: 300px;
    padding-right: 15px;
}

.about__text2{
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

/* FOOTER */
.footer{
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 20px 0px;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.footer__codar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.footer__logo{
    font-style: italic;
}

.footer__about{
    margin-bottom: 15px;
}

.footer__contact{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    
}

/* .footer__socials{
    
} */

.footer__socials i{
    font-size: 50px;
    color: var(--cor-primaria);
    text-align: center;
    padding: 10px;
}

#email{
    text-decoration: underline;
}

/* BREAKPOINTS */
/* PARA DISPOSITIVOS PEQUENOS */
@media screen and (max-width: 400px) {
    
}

/* PARA DISPOSITIVOS MÉDIOS */
@media screen and (min-width: 767px) {
    .nav__toggle, .nav__close{
        display: none;
    }

    .nav__list{
        flex-direction: row;
        column-gap: 3.5rem;
    }

    .nav__link{
        color: var(--cor-texto);
        font-style: normal;
    }

    #login{
    background-color: var(--cor-primaria);
    color: #000;
    padding: .80rem 4rem;
    border-radius: 3rem;
    transition: .4s;
    }
}

@media screen and (min-width: 880px){
    .footer{
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding: 100px 0px;

    }

    .footer__socials i{
        padding: 5px;
    }
}

/* PARA DISPOSITIVOS GRANDES */
@media screen and (min-width: 1024px){
    .home__container{
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        column-gap: 2rem;
    }

    /* .home__data{
        text-align: initial;
    } */

    .home__img img{
        width: 400px;
    }

    .about__home{
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        align-items: center;
        gap: 7rem;
        margin-bottom: 50px;
    }

    .about__img img{
        width: 400px;
    }

    .about__contact{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 145px;
        margin-bottom: 150px;
    }

    .about__call{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .about__users{
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .footer{
        display: flex;
        flex-direction: row;
        gap: 4rem;
        padding: 100px 0px;

    }

    .footer__codar{
        text-align: left;
    }
}

@media screen and (min-width: 1048px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
}

/* PARA RESOLUÇÕES 2K (2048 x 1152, 2048 x 1536) */
/* @media screen and (min-width: 2048px) {
    body{
        zoom: 1.7;
    }

    .home{
        height: initial;
        row-gap: 4rem;
    }
} */

/* PARA RESOLUÇÕES 4K (3840 x 2160, 4096 x 2160) */
/* @media screen and (min-width: 3840px) {
    body{
        
    }
} */